spring:
  application:
    name: config-server

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/external-config

      enabled: true

  config:
    import: []

server:
  port: ${CONFIG_SERVER_PORT:10001}